@page
@model IndexModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hi my name is Ryan Ngo, and I recently graduated from college.</p>
    <p>I'm currently looking for software engineering jobs, so I made this platform to help myself prepare for interviews while at the same time making cool stuff.</p>
</div>
